@import './global';

// Modals 
.modal {
  z-index: 3;
  background: white;
  position: fixed;
  overflow: auto;
}

%small-modal {
  border-radius: 8px;
  border: 1px solid rgba(66, 71, 84, 0.14);
  box-shadow: 0 3px 12px rgba(66, 71, 84, 0.14);
  padding: 8px;
}

.modal-background {
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

#labels-modal {
  @extend %small-modal;

  overflow-y: auto;

  .label {
    margin: 6px 0;

    @extend %align-with-icon;

    svg {
      fill: white;
    }
  }
}

#profile-modal {
  top: 50px;
  right: 8px;
  
  @extend %small-modal;

  & > div {
    @extend %align-with-icon;
  }
}

#tasklist-modal {
  width: 50%;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  
  @extend %small-modal;
}

.overview-tasklist {
  margin: 4px;
  padding: 4px;
  border-radius: 4px;

  & > div > h3, & > div > svg {
    @extend %vertical-align-middle;
  }

  &:hover {
    background-color: #fbfbfb;
  }
}