@import './global';
@import './calendar';

// Modals 
.modal {
  z-index: 3;
  background: white;
  position: fixed;
  overflow: auto;
}

.modal-background {
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

#profile-modal {  
  @extend %small-modal;

  & > div {
    @extend %align-with-icon;
  }
}

#tasklist-modal {
  width: 50%;
  transform: translate(-50%, 0);
  
  @extend %small-modal;
}

.overview-tasklist {
  margin: 4px;
  padding: 4px;
  border-radius: 4px;

  & > div > h3, & > div > svg {
    @extend %vertical-align-middle;
  }

  &:hover {
    background-color: #fbfbfb;
  }
}

#labels-modal {
  @extend %small-modal;

  overflow-y: auto;

  .label {
    margin: 6px 0;

    @extend %align-with-icon;

    svg {
      fill: white;
    }
  }
}

#add-modal {
  @extend %small-modal;

  ul {
    list-style: none;
    padding: 0;
    margin: 0; // Obligatory 
  }
}
