// Imports 
@import url('https://indestructibletype.com/fonts/Jost.css');

@import './stylesheets/global';
@import './stylesheets/top_bar';
@import './stylesheets/content_window';

body {
  margin: 0;
  font-family: Jost, sans-serif;
  color: $black;
}

h1, h2, h3, h4, p, li, a {
  font-weight: 300; // For now 
  margin: 0;
}

// Font 
@mixin font-size($size) {
  font-size: $size;
  line-height: $size;
}

h1 {
  @include font-size(28px);
}

h2 {
  @include font-size(24px);
}

h3 {
  @include font-size(20px);
}

h4 {
  @include font-size(16px);
}

// Miscellaneous 
.card {
  background-color: white;
  border-radius: 12px;
  padding: 12px;
}

.label {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
  color: white;
  margin: 0 4px;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.custom-scroll {
  scrollbar-color: #999 transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
    // Make sure to set a padding of 8px 
  }

  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 2px;
  }
}