/* font */
@import url('https://indestructibletype.com/fonts/Jost.css');

/* general */
body {
  font-family: Jost, sans-serif;
  margin: 0;
  font-weight: 300;
}

h1, p {
  margin: 0;
  font-weight: 400;
}

#root {
  width: 100vw;
  height: 100vh;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

$primary: #d17b46;
h1 {
  color: $primary;
}

svg {
  width: 300px;
  height: 300px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}
